.mat-list-item {
  color: white;
}

.color-block {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
  // position: relative;
  // top: 4px;
}

.small-button {
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
}